.metadata
*.log
*.class
.classpath
.settings/
.myeclipse/
*.class
*.tmp
bin/
.DS_Store
.project
.idea
*.log
WEB-INF/classes/
WEB-INF/classes
target/
target
bin
src/main/webapp/WEB-INF/META-INF/
src/main/webapp/WEB-INF/META-INF
.idea/*.*
.git/*.*
.svn/*.*
.gradle/*.*
*.iml

